* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards {
    width: 90px;
    height: 120px;
    margin: 0 10px;
    margin-bottom: 10px;
    transition: all 250ms;
    background-color: #00db22;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedCard {
    transform: rotateY(180deg);
    background-color: black;
    border: 2px solid #00db22;
}

#win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    padding: 10px;
    border-radius: 1rem;
    transition: all 250ms;
    opacity: 0;
    pointer-events: none;
}

.title.titleMain {
    font-size: 50px;
    text-align: center;
}

.text {
    font-size: 20px;
}

#time {
    color: red;
    text-decoration: underline;
}

.btn {
    background: none;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: auto;
    color: white;
    cursor: pointer;
}